<%- include('header'); %> <%- include('nav'); %>
<main>
  <h3>Sign Up</h3>
  <form action="/register" method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" />
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Password"
      v-model="password"
    />
    <small id="passwordHelp" class="form-text text-muted"
      >Password should contain <span>at least 8 characters</span>,
      <span>one lowercase letter</span>, <span>one uppercase letter</span>,
      <span>one number</span>, and
      <span>one special character.</span>
    </small>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
    <label for="phone">Phone</label>
    <input type="text" name="phone" id="phone" />
    <button class="btn btn-success">Submit</button>
  </form>
</main>
